{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% comment %}
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    {% endcomment %}
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- <link href="{% static 'css/toastr/min.css' %}" rel="stylesheet"> -->
    <title>{% block title %}Log In{% endblock %} | Kai &#38; Karo </title>
    <style>
      .auth-bg {
        background-image: url("/static/img/auth-bg.jpg");
        background-repeat: no-repeat;
        background-position: center center;
      }
      .h-100 {
        min-height: 100vh;
      } 
       #id_remember {
        position: relative !important;
        border-radius: 3px !important;
      } 
    </style>
  </head>
  <body>
    <div class="auth-bg h-100">
      <div class="row">
        <div class="col-md-4 mx-auto pt-5">
          <div class="card shadow-sm mt-5">
            <div class="card-body">
              <div class="text-center pb-2">
                <!-- <img
                  src="{% static '/img/logo.png' %}"
                  alt="Bronze Light Technologies"
                  class="py-4 w-50"
                /> -->
              </div>
              <hr />
              {% block content %}Log In{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://kit.fontawesome.com/0218909da0.js"></script>
  <script src={% static 'js/auth/passwordReset.js' %}></script>
  <script src={% static 'js/toastr/min.js' %}></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% endif %}
        {% endfor %}
    {% endif %}
</html>