{% extends 'email/base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <h4 class="text-center">Change Password</h4>
    <p class="text-danger">Use the form below to change your password. Your password cannot be the same as your email or phone.</p>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="uidb64" value="{{ uidb64 }}">
        <input type="hidden" name="token" value="{{ token }}">
        {{ form.as_p }}
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </div>
        </div>
    </form>
{% endblock %}